* {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    transition-duration: 1s;
  }
  
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1d1e22;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1e2295;
    z-index: 100;
}

.menuLogo {
    height: 100px;
    width: 260px;
}

.menuButton {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    display: inline;
}

.menuButton * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.menuButton li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }

.menuButton a {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.menuButton a::before,
.menuButton a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.menuButton a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #ac5f23;
    border-right: 3px solid #794117;
    transform: translate(-100%, 50%);
}

.menuButton a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #794117;
    border-left: 3px solid #ac5f23;
    transform: translate(100%, -50%)
  }

.menuButton a:hover:before,
.menuButton a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}
  
.menuButton a:hover {
    color: #ffdf29;
}

.phone-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .menuButton {
        display: none;
    }

    .phone-menu {
        display: block;
    }
}

.menuButton, .phone-menu {
    transition: all 0.5s ease;
}

.painelImage {
    margin: -15px 0 -132px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about {
    padding: 30px;
    width: 100%;
    display: flex;
    background-color: #2b2c31;
    align-items: center;
    justify-content: space-around;
}

.aboutText {
    display: inline;
    text-align: left;
    color: white;
}

.aboutLogo {
    max-height: 200px;
    max-width: 100%;
}

.aboutLogo img {
    width: 100%;
    height: auto;
}

.image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
    gap: 12px;
}

.gallery-item {
    flex: 0 0 30%;
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta o dimensionamento mantendo a proporção */
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

.gallery-item:hover img {
    transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
}

.close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}